[
    (
        name: "Alchemy Tea",
        image: "images/build/consumable/Alchemy_01_tea.png",
        level: 1,
        price: 10,
        effects: [Heal(heal_pct: 19)],
    ),
    (
        name: "Alchemy Water",
        image: "images/build/consumable/Alchemy_04_water.png",
        level: 1,
        price: 14,
        effects: [InstantMana(amount: 25)],
    ),
    (
        name: "Alchemy Poison",
        image: "images/build/consumable/Alchemy_05_poison.png",
        level: 1,
        price: 18,
        effects: [Heal(heal_pct: 19)],
    ),
    (
        name: "Alchemy Blood",
        image: "images/build/consumable/Alchemy_06_blood.png",
        level: 1,
        price: 22,
        effects: [InstantMana(amount: 25)],
    ),
    (
        name: "Alchemy Shadow",
        image: "images/build/consumable/Alchemy_07_shadow.png",
        level: 2,
        price: 41,
        effects: [StatBoost(attribute: Strength, amount: 2, duration: 10.0), Heal(heal_pct: 19), InstantMana(amount: 30)],
    ),
    (
        name: "Alchemy Reactive Mixture",
        image: "images/build/consumable/Alchemy_08_reactive_mixture.png",
        level: 2,
        price: 25,
        effects: [InstantMana(amount: 40)],
    ),
    (
        name: "Alchemy Blue Mixture",
        image: "images/build/consumable/Alchemy_10_blue_mixture.png",
        level: 2,
        price: 29,
        effects: [Heal(heal_pct: 23)],
    ),
    (
        name: "Alchemy Magic Mixture",
        image: "images/build/consumable/Alchemy_11_magic_mixture.png",
        level: 3,
        price: 58,
        effects: [InstantMana(amount: 55)],
    ),
    (
        name: "Alchemy Magic Potion",
        image: "images/build/consumable/Alchemy_12_magic_potion.png",
        level: 3,
        price: 62,
        effects: [Heal(heal_pct: 27)],
    ),
    (
        name: "Alchemy Heal Potion",
        image: "images/build/consumable/Alchemy_13_heal_potion.png",
        level: 3,
        price: 66,
        effects: [InstantMana(amount: 55)],
    ),
    (
        name: "Alchemy Poison Of The Shadow",
        image: "images/build/consumable/Alchemy_14_poison.png",
        level: 3,
        price: 50,
        effects: [Heal(heal_pct: 27)],
    ),
    (
        name: "Alchemy Reactive Potion",
        image: "images/build/consumable/Alchemy_15_reactive_potion.png",
        level: 4,
        price: 89,
        effects: [InstantMana(amount: 70)],
    ),
    (
        name: "Alchemy Shadow Potion",
        image: "images/build/consumable/Alchemy_16_shadow_potion.png",
        level: 4,
        price: 93,
        effects: [StatBoost(attribute: Strength, amount: 3, duration: 10.0), Heal(heal_pct: 23), InstantMana(amount: 50)],
    ),
    (
        name: "Alchemy Blue Potion",
        image: "images/build/consumable/Alchemy_17_blue_potion.png",
        level: 4,
        price: 97,
        effects: [InstantMana(amount: 70)],
    ),
    (
        name: "Alchemy Magic Mixture Of The Wild",
        image: "images/build/consumable/Alchemy_18_magic_mixture.png",
        level: 5,
        price: 146,
        effects: [Heal(heal_pct: 35)],
    ),
    (
        name: "Alchemy Littlemana Flask",
        image: "images/build/consumable/Alchemy_20_littlemana_flask.png",
        level: 5,
        price: 130,
        effects: [InstantMana(amount: 120), ManaFlow(amount: 7, duration: 5.0)],
    ),
    (
        name: "Alchemy Littleheal Flask",
        image: "images/build/consumable/Alchemy_21_littleheal_flask.png",
        level: 5,
        price: 134,
        effects: [Heal(heal_pct: 35)],
    ),
    (
        name: "Alchemy Deadly Poison",
        image: "images/build/consumable/Alchemy_22_deadly_poison.png",
        level: 5,
        price: 138,
        effects: [InstantMana(amount: 85)],
    ),
    (
        name: "Alchemy Black Poison",
        image: "images/build/consumable/Alchemy_23_black_poison.png",
        level: 6,
        price: 197,
        effects: [Heal(heal_pct: 39)],
    ),
    (
        name: "Alchemy Energy Potion",
        image: "images/build/consumable/Alchemy_24_energy_potion.png",
        level: 6,
        price: 201,
        effects: [InstantMana(amount: 140), ManaFlow(amount: 8, duration: 5.0)],
    ),
    (
        name: "Alchemy Stamina Potion",
        image: "images/build/consumable/Alchemy_25_stamina_potion.png",
        level: 6,
        price: 185,
        effects: [Heal(heal_pct: 39)],
    ),
    (
        name: "Alchemy Immortal Potion",
        image: "images/build/consumable/Alchemy_26_immortal_potion.png",
        level: 7,
        price: 254,
        effects: [InstantMana(amount: 115)],
    ),
    (
        name: "Alchemy Bigmana Flask",
        image: "images/build/consumable/Alchemy_30_bigmana_flask.png",
        level: 7,
        price: 258,
        effects: [InstantMana(amount: 160), ManaFlow(amount: 9, duration: 5.0)],
    ),
    (
        name: "Alchemy Bigheal Flask",
        image: "images/build/consumable/Alchemy_31_bigheal_flask.png",
        level: 7,
        price: 262,
        effects: [InstantMana(amount: 115)],
    ),
    (
        name: "Alchemy Big Poison",
        image: "images/build/consumable/Alchemy_32_big_poison.png",
        level: 7,
        price: 266,
        effects: [Heal(heal_pct: 43)],
    ),
    (
        name: "Alchemy Mercury",
        image: "images/build/consumable/Alchemy_33_mercury.png",
        level: 8,
        price: 325,
        effects: [InstantMana(amount: 130)],
    ),
    (
        name: "Alchemy Bigenergy Flask",
        image: "images/build/consumable/Alchemy_34_bigenergy_flask.png",
        level: 8,
        price: 329,
        effects: [InstantMana(amount: 180), ManaFlow(amount: 10, duration: 5.0)],
    ),
    (
        name: "Alchemy Invisibility Flask",
        image: "images/build/consumable/Alchemy_35_invisibility_flask.png",
        level: 8,
        price: 333,
        effects: [InstantMana(amount: 130)],
    ),
    (
        name: "Alchemy Spiritual Flask",
        image: "images/build/consumable/Alchemy_36_spiritual_flask.png",
        level: 9,
        price: 422,
        effects: [Heal(heal_pct: 51)],
    ),
    (
        name: "Alchemy Poisonousherbs",
        image: "images/build/consumable/Alchemy_40_poisonousherbs.png",
        level: 9,
        price: 426,
        effects: [InstantMana(amount: 145)],
    ),
    (
        name: "Alchemy Magical Substance",
        image: "images/build/consumable/Alchemy_41_magical_substance.png",
        level: 9,
        price: 410,
        effects: [Heal(heal_pct: 51)],
    ),
    (
        name: "Alchemy Minipotions",
        image: "images/build/consumable/Alchemy_44_minipotions.png",
        level: 9,
        price: 414,
        effects: [InstantMana(amount: 145)],
    ),
    (
        name: "Alchemy Middle Flask",
        image: "images/build/consumable/Alchemy_45_middle_flask2.png",
        level: 10,
        price: 513,
        effects: [Heal(heal_pct: 55)],
    ),
    (
        name: "Alchemy Middleheal Flask",
        image: "images/build/consumable/Alchemy_46_middleheal_flask.png",
        level: 10,
        price: 517,
        effects: [InstantMana(amount: 160)],
    ),
    (
        name: "Alchemy Middlemagical Flask",
        image: "images/build/consumable/Alchemy_47_middlemagical_flask.png",
        level: 10,
        price: 521,
        effects: [Heal(heal_pct: 55)],
    ),
    (
        name: "Alchemy Middleshadow Flask",
        image: "images/build/consumable/Alchemy_48_middleshadow_flask.png",
        level: 11,
        price: 610,
        effects: [StatBoost(attribute: Intelligence, amount: 6, duration: 10.0), Heal(heal_pct: 37)],
    ),
    (
        name: "Alchemy Middleenergy Flask",
        image: "images/build/consumable/Alchemy_49_middleenergy_flask.png",
        level: 11,
        price: 614,
        effects: [InstantMana(amount: 240), ManaFlow(amount: 13, duration: 5.0)],
    ),
    (
        name: "Alchemy Plague Flask",
        image: "images/build/consumable/Alchemy_50_plague_flask.png",
        level: 11,
        price: 618,
        effects: [InstantMana(amount: 175)],
    ),
    (
        name: "Alchemy Fastpoison",
        image: "images/build/consumable/Alchemy_51_fastpoison.png",
        level: 11,
        price: 622,
        effects: [Heal(heal_pct: 59)],
    ),
    (
        name: "Alchemy Middlemana Flask",
        image: "images/build/consumable/Alchemy_52_middlemana_flask.png",
        level: 12,
        price: 741,
        effects: [InstantMana(amount: 260), ManaFlow(amount: 14, duration: 5.0)],
    ),
    (
        name: "Alchemy Huge Flask",
        image: "images/build/consumable/Alchemy_53_huge_flask2.png",
        level: 12,
        price: 725,
        effects: [Heal(heal_pct: 63)],
    ),
    (
        name: "Alchemy Huge Flask Of The Tundra",
        image: "images/build/consumable/Alchemy_53_huge_flask3.png",
        level: 12,
        price: 729,
        effects: [InstantMana(amount: 190)],
    ),
    (
        name: "Alchemy Huge Flask Of The Mist",
        image: "images/build/consumable/Alchemy_53_huge_flask4.png",
        level: 13,
        price: 858,
        effects: [Heal(heal_pct: 67)],
    ),
    (
        name: "Alchemy Hugeheal Flask",
        image: "images/build/consumable/Alchemy_54_hugeheal_flask.png",
        level: 13,
        price: 862,
        effects: [InstantMana(amount: 205)],
    ),
    (
        name: "Alchemy Hugegreen Flask",
        image: "images/build/consumable/Alchemy_55_hugegreen_flask.png",
        level: 13,
        price: 866,
        effects: [Heal(heal_pct: 69), Regen(heal: 15, duration: 5.0)],
    ),
    (
        name: "Alchemy Hugeshadow Flask",
        image: "images/build/consumable/Alchemy_56_hugeshadow_flask.png",
        level: 13,
        price: 850,
        effects: [StatBoost(attribute: Dexterity, amount: 7, duration: 10.0), Heal(heal_pct: 41)],
    ),
    (
        name: "Alchemy Hugepoison Flask",
        image: "images/build/consumable/Alchemy_57_hugepoison_flask.png",
        level: 14,
        price: 989,
        effects: [Heal(heal_pct: 71)],
    ),
    (
        name: "Alchemy Hugedark Flask",
        image: "images/build/consumable/Alchemy_58_hugedark_flask.png",
        level: 14,
        price: 993,
        effects: [InstantMana(amount: 220)],
    ),
    (
        name: "Alchemy Hugemana Flask",
        image: "images/build/consumable/Alchemy_59_hugemana_flask.png",
        level: 14,
        price: 997,
        effects: [InstantMana(amount: 300), ManaFlow(amount: 16, duration: 5.0)],
    ),
    (
        name: "Alchemy Hugemagic Flask",
        image: "images/build/consumable/Alchemy_60_hugemagic_flask.png",
        level: 15,
        price: 1146,
        effects: [InstantMana(amount: 235)],
    ),
    (
        name: "Enchantment Magicdust",
        image: "images/build/consumable/Enchantment_05_magicdust.png",
        level: 15,
        price: 1130,
        effects: [Heal(heal_pct: 75)],
    ),
    (
        name: "Enchantment Magicdust Of The Storm",
        image: "images/build/consumable/Enchantment_06_magicdust.png",
        level: 15,
        price: 1134,
        effects: [InstantMana(amount: 235)],
    ),
    (
        name: "Enchantment Magicdust Of The Sun",
        image: "images/build/consumable/Enchantment_07_magicdust.png",
        level: 15,
        price: 1138,
        effects: [Heal(heal_pct: 75)],
    ),
    (
        name: "Enchantment Magicdust Of The Moon",
        image: "images/build/consumable/Enchantment_08_magicdust.png",
        level: 16,
        price: 1297,
        effects: [InstantMana(amount: 250)],
    ),
    (
        name: "Enchantment Magicdust Of The Stars",
        image: "images/build/consumable/Enchantment_09_magicdust.png",
        level: 16,
        price: 1301,
        effects: [Heal(heal_pct: 79)],
    ),
    (
        name: "Enchantment Magicdust Of The Void",
        image: "images/build/consumable/Enchantment_10_magicdust.png",
        level: 16,
        price: 1285,
        effects: [InstantMana(amount: 250)],
    ),
    (
        name: "Holy Water",
        image: "images/build/consumable/HolyWater.png",
        level: 17,
        price: 1454,
        effects: [Heal(heal_pct: 83)],
    ),
    (
        name: "Potion",
        image: "images/build/consumable/Potion_01.png",
        level: 17,
        price: 1458,
        effects: [InstantMana(amount: 265)],
    ),
    (
        name: "Potion Of The Flame",
        image: "images/build/consumable/Potion_02.png",
        level: 17,
        price: 1462,
        effects: [Heal(heal_pct: 83)],
    ),
    (
        name: "Potion Of The Frost",
        image: "images/build/consumable/Potion_03.png",
        level: 17,
        price: 1466,
        effects: [InstantMana(amount: 265)],
    ),
    (
        name: "Potion Of The Shadow",
        image: "images/build/consumable/Potion_04.png",
        level: 18,
        price: 1625,
        effects: [Heal(heal_pct: 87)],
    ),
    (
        name: "Potion Of The Grove",
        image: "images/build/consumable/Potion_05.png",
        level: 18,
        price: 1629,
        effects: [InstantMana(amount: 280)],
    ),
    (
        name: "Potion Of The Peak",
        image: "images/build/consumable/Potion_06.png",
        level: 18,
        price: 1633,
        effects: [Heal(heal_pct: 87)],
    ),
    (
        name: "Potion Of The Deep",
        image: "images/build/consumable/Potion_07.png",
        level: 19,
        price: 1822,
        effects: [InstantMana(amount: 295)],
    ),
    (
        name: "Potion Green",
        image: "images/build/consumable/Potion_Green.png",
        level: 19,
        price: 1826,
        effects: [Heal(heal_pct: 87), Regen(heal: 21, duration: 5.0)],
    ),
    (
        name: "Potion King",
        image: "images/build/consumable/Potion_King.png",
        level: 19,
        price: 1810,
        effects: [StatBoost(attribute: Dexterity, amount: 10, duration: 10.0), Heal(heal_pct: 53)],
    ),
    (
        name: "Potion Shadow",
        image: "images/build/consumable/Potion_Shadow.png",
        level: 19,
        price: 1814,
        effects: [StatBoost(attribute: Constitution, amount: 10, duration: 10.0), Heal(heal_pct: 53), InstantMana(amount: 200)],
    ),
    (
        name: "Potion Spider",
        image: "images/build/consumable/Potion_Spider.png",
        level: 20,
        price: 2013,
        effects: [StatBoost(attribute: Intelligence, amount: 11, duration: 10.0), Heal(heal_pct: 55)],
    ),
    (
        name: "Potion Energy",
        image: "images/build/consumable/Potion_energy.png",
        level: 20,
        price: 2017,
        effects: [InstantMana(amount: 420), ManaFlow(amount: 22, duration: 5.0)],
    ),
    (
        name: "Quest Bottle",
        image: "images/build/consumable/QuestBottle.png",
        level: 20,
        price: 2021,
        effects: [InstantMana(amount: 310)],
    ),
]
